
<h1>{{ message }}</h1>

<form action="../Test/ChoosenOne.php" method="post">
    <label for="email">
        Email
        <input type="email" id="email" name="email" required >
    </label>
    <label for="password">
        Password
        <input type="password" id="password" name="password" required >
    </label>
    <input type="submit">
</form>